* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#2A048F, #781E75);
  font-family: sans-serif;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;

}

.navbar {
  position: fixed;
  background: rgba(0,0,0,0.6);
  top: 0;
  display: flex;
  width: 100%;
  height: 60px;
  z-index: 1;
}
.navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.navbar ul li a:hover {
  color: #781E75;
  background: #2A048F;
  margin: 0 1rem;
  padding: 1.45rem;
}

section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
height: 100vh;
}

.welcome {
  width: 500px;
  border-radius: 25px;
  background: rgba(99, 74, 74, 0.6);
  border: 1px solid rgba(99, 74, 74, 0.6);
  text-align: center;
}

section h1 {
font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}

#home {
  background: url('stormy-lighthouse.jpg') no-repeat center center/cover;
}
