@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
  font-family: "Courgette",sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#320D99,#8F2C87);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

